html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: inherit;
	text-align: inherit;
	text-decoration: inherit;
	vertical-align: baseline;
	box-sizing: inherit;
	font-size: 100%;
	font: inherit;
}

.main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

canvas {
  border: none;
}

#hide {
  position: absolute;
  top: -9999px !important;
  left: -9999px !important;
}

.ready-view, .play-view {
  position: fixed;
  margin: 0 auto;
  width: 98vw;
  height: 97vh;
  z-index: 2;
}

.play-view {
  position: fixed;
  margin: 0 auto;
  width: 98vw;
  height: 97vh;
  z-index: 2;
}

.button-holder {
	position: fixed;
  top: 55%;
  left: -50px;
  right: 0;
  margin: 0 auto;
	width: 500px;
  height: 100px;
  display: flex;
	justify-content: space-around;
	align-items: center;
  flex-flow: row nowrap;
}

button {
  border: none;
	border-radius: 15px;
	width: 130px;
  height: 70px;
  margin: 10px;
  align-content: center;
  background-color: white;
	background-size: 40%;
	background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

button:hover {
  background-color: rgb(223, 223, 223);
  border: none;
}

button:focus {
  outline: none;
}

.start {
  background-image: url("play.png");
}

.github {
	background-image: url("GitHub.png");
}

.linkedin {
	background-image: url("linkedin.png");
}

#credit {
	font-size: 8px;
	position: fixed;
	bottom: 5px;
  left: 10px;
  color: gray;
}